@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");

:root {
  --bg-color-dark: #101028;
  --bg-color-light: #292d4a;

  --font-color-light: #a9a9a9;
  --font-color-dark: #11333d;

  --primary-color: #22eba5;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

/* Typography */

html {
  /* default font size of html element is 16px */
  /* 62.5% of 16px = 10px */
  font-size: 62.5%;
}

body {
  margin: 0;

  font-family: "Open Sans", sans-serif;
  /* 1 x font size of the root element (html) */
  font-size: 1rem;
  line-height: 1.75;

  background-color: var(--bg-color-dark);
  color: #fff;
}

h1 {
  font-size: 3rem;
}

/* Sections */

.container {
  max-width: 700px;
  margin: 0 auto;
}

.block {
  padding: 1.5rem 3rem;
}

/* Header block */

.block-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  padding: 1.5rem 2rem;
}

.header__brand {
  margin: 0;
}

/* Buttons */

.btn {
  border-radius: 40px;
  border: 0;
  cursor: pointer;
  margin: 1rem 0;
  outline: 0;
  padding: 1rem 2rem;
  text-align: center;
  white-space: nowrap;
  letter-spacing: 0.5px;
}

.btn--primary {
  background-color: var(--primary-color);
  color: var(--font-color-dark);
}

.btn--block {
  width: 100%;
}

.btn--round {
  padding: 1rem;
  border-radius: 100%;
  height: 38px;
  width: 38px;
  margin: 0;
}

.btn-add {
  margin-top: 2rem;
}

/* Inputs */

.input,
.select {
  background: var(--bg-color-light);
  border-radius: 40px;
  border: 0;
  outline: 0;
  color: var(--font-color-light);
  font-size: 1.3rem;
  padding: 1rem 1.5rem;
}

.select {
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("data:image/svg+xml;utf8,<svg fill='%23a9a9a9' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position-x: 98%;
  background-position-y: 50%;
}

::placeholder {
  color: var(--font-color-light);
}

.form-control {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
}

.form-control label {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  font-weight: 500;
}

/* Filters block */

.filter-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

/* Todos block */

ul {
  padding-left: 0;
}

ul > li {
  list-style-type: none;
}

dd {
  margin-left: 0;
}

.todo__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  background: var(--bg-color-light);
  margin-bottom: 1.5rem;
  padding: 1.5rem;

  border-radius: 5px;
}

.todo__details {
  border-left: 2.5px solid var(--primary-color);
  padding-left: 1.3rem;
}

.todo__name {
  font-size: 1.5rem;
  font-weight: 600;
}

.todo__priority {
  font-size: 1.1rem;
}

.todo__actions {
  display: flex;
  gap: 1rem;
}

.todo__completed {
  text-decoration: line-through;
}

/* Mobile S (320px and up) */
@media (min-width: 576px) {
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
